{% extends "body.html" %}

{% block content %}
        <!-- Content -->
        <div class="container" role="main">
                <div class="jumbotron">
                        <h3 style="margin: 0px; padding: 0px;">Add Group to Project {{ projectname }}</h3>
                </div>
                <div class="panel panel-default">
                        <form method="post" enctype="multipart/form-data" action="addgroup?projectname={{ projectname }}" class="panel-body validate">
                                {% csrf_token %}
                                <label for="University">University</label>
                		<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="university" id="university" placeholder="University" class="form-control" data-bvalidator="required" data-bvalidator-msg="University Required">
                                <br>
				<label for="Group">Group name</label>
                                <h6 style="color:red">{{ error }}</h6>
                                <input type="text" name="group" id="group" placeholder="group" class="form-control" data-bvalidator="required" data-bvalidator-msg="Group Required">
                                <br>
			        <input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
{% endblock %}
