{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			
			
			{% if group.project %}
			<h3> Current Project : <a href="project?name={{ group.project.name }}">{{group.project.name }} </a> </h3> 
			{% else %}
			<h3>No Current Project</h3>
			{% endif%}
			<br>

			{% if userIsMember %}
			<a href="group/addmemberform?name={{ group.name }}" class="btn btn-default">Add New Member</a>
			<a href="/group/delete?name={{ group.name }}" class="btn btn-default">Delete Group</a>
			<a href="addcomment/group?name={{ group.name }}" class="btn btn-default">Comments</a>
			{% endif %}
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
						<th>Email Addresses</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
						<td>{{ item.email }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
