{% extends "body.html" %}

{% block content %}
        <!-- Content -->
    <div class="container theme-showcase" role="main">
                <div class="jumbotron">
            <img src="/{{ teacher.photo }}" alt="Teacher Image" width=150/>
                        <h3><b>Teacher Id:</b> {{ teacher.teacher_id }}</h3>
			<h3><b>Teacher Name:</b> {{ teacher.name }}</h3>
                        <p><h3><b>Email: </b>{{ teacher.email }}</h3></p>
			<p><h3><b>University: </b>{{ teacher.university }}</h3></p>
           	</div>
		
                <div class="table-responsive">
                        <table class="table table-striped sortable">
                                <thead>
                                        <tr>
                                                <th>Course Tag</th>
                                                <th>Course Name</th>
                                                <th>Course Description</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        {% for item in teacher.courses.all %}
                                        <tr>
                                		<td><a href="/university/course?name={{ item.university }}&course={{ item.tag }}">{{ item.tag }}</a></td>
						<td>{{ item.name }}</td>
                                                <td>{{ item.description }}</td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                        </table>
                </div>
    </div>
{% endblock %}
