{% extends "body.html" %}

{% block content %}
    
    <!-- Content -->
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                      	<th></th>
                  			<th>ID</th>
                  			<th>Engineer</th>
                     		<th>Company</th>
                  			<th>Contact Info</th>
                    </tr>
                </thead>

                <tbody>
                  {% for item in engineers %}
                    <tr>
                      <td><a href="/engineer?name={{ item.name }}"><img src="/{{ item.photo }}"></a></td>
                      <td>{{ item.engineer_id }}</td>
                      <td>{{ item.name }}</td>
  			              <td>{{ item.company }}</td>
                      <td>{{ item.contact_info }} </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
